:root {
  --secondary-color:  rgb(83, 190, 137);
  --secondary-color-hover: rgba(83, 190, 137, 0.8);
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(255, 255, 255);
  
}
#navbar {
  background-color: var(--secondary-color);
  height: 75px;
}
#navbar a {
  color: white;
}
#featured {
  width: 80%;
  margin: 50px auto;
  height: 400px;
}
.featured-row {
  width: 100%;
}
.featured-box {
  float: left;
  width: 48%;
  height: 400px;
}
#featured-pet {
  background-image: url('images/dog.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 1% 0 0;
}
#featured-products {
  float: right;
  background-image: url('images/dogToy.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 0 1% 0;
}
.featured-header, .featured-button, .animal-header, .animal-button,
.dog-header, .dog-button {
  float: left;
  width: 100%;
  height: 50%;
}
.animal-header {
  height: 20%;
}
.animal-button {
  height: 80%;
}
.dog-header {
  height: 80%;
}
.dog-button {
  height: 20%;
}
.featured-header h2, .animal-header h1, .dog-header h3 {
  color: white;
  float: left;
  margin: 30px 0 0 55px;
}
.featured-button button, .animal-button button, .dog-button button {
  float: left;
  margin: 80px 0 0 70px;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  color: black;
  background-color: white;
}
#animals-section {
  width: 80%;
  margin: 0 auto;
  height: auto;
}
.animal {
  width: 100%;
  height: 400px;
  margin: 20px 0 20px 0;
}
.animal-header h1 {
  margin: 30px 0 0 107px;
}
.animal-button button{
  float: left;
  margin: 10px 0 0 80px;
  border: 2px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.animal-button button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition-duration: 0.5s;
}
#fish-header {
  margin-left: 117px;
}
#reptiles-header {
  margin-left: 77px;
}
#small-pets-header {
  margin-left: 57px;
}
#dog, #cat, #bird, #fish, #reptile, #small-pet, #toy, #food, #treat, #shampoo, #collar, #apparel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#cat {
  background-image: url('images/cat.jpg');
}
#bird {
  background-image: url('images/bird.jpg');
}
#fish {
  background-image: url('images/fish.jpg');
  background-position-y: 40%;
}
#reptile {
  background-image: url('images/reptile.jpg');
  background-position-y: 25%;
}
#small-pet {
  background-image: url('images/smallPet.jpg');
  background-position-y: 85%;
}
.panels {
  display: flex;
  flex-direction: column;
  
}
/* Dog Products */
#dog-products-section {
  width: 80%;
  margin: 100px auto 0px auto;
}
.dog-products {
  width: 100%; 
  height: 750px;
}
.dog-product {
  float: left;
  width: 30.6%;
  margin: 1%;
  height: 300px;
}
#toy {
  background-image: url('images/toys.jpg');
} 
#food {
  background-image: url('images/food.jpg');
  background-position-y: 40%;
} 
#treat {
  background-image: url('images/treat.jpg');
} 
#shampoo {
  background-image: url('images/shampoo.jpg');
} 
#collar {
  background-image: url('images/collar.jpg');
} 
#apparel {
  background-image: url('images/apparel.jpg');
  background-position-y: 33%;
}
.dog-header h3 {
  margin: 10px 0 0 10px;
  color: var(--secondary-color);
}
.dog-button button{
  float: left;
  margin: 0px 0 0 10px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
}
.dog-button button:hover {
  background-color: var(--secondary-color-hover);
  transition-duration: 0.5s;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  height: 100px;
  line-height: 100px;
  text-align: center;
}
@media(max-width: 1210px) {

}
@media(max-width: 920px) {

}